.navbar-container {
  background-color: white;
  border-bottom: 2px #d7d7d7 solid;

  padding: 2rem 5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.spacer {
  background-repeat: repeat;
  background-size: cover;
}

.navbar-links {
  display: flex;
  gap: 1rem;
}

.navbar-menu {
  display: flex;
  gap: 1rem;
}

.navbar-menu-button {
  background-color: transparent;
  border: none;
  color: black;
}

.navbar-menu-button:hover {
  cursor: pointer;
}

