<div class="navbar-container spacer">
  <div class="navbar-menu">

    <a class="title" routerLink="/">Application</a>

    <button class="navbar-menu-button" [matMenuTriggerFor]="menu">Applications</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/todo">TODO</button>
      <button mat-menu-item>Password bank</button>
      <button mat-menu-item>Chat</button>
    </mat-menu>
  </div>

  <div class="navbar-links">
    @if (isLoggedIn$ | async) {
      <button (click)="logout()" mat-stroked-button >Logout</button>
    } @else {
      <button mat-stroked-button  routerLink="/login">Login</button>
    }
  </div>
</div>
